

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}

.nav-bar{
    background-color: rgb(237, 222, 209);
   padding-top: 5px;
   padding-bottom: 2px;
}

.bottom-line{
    padding-bottom: 35px;
}

.nav-bar{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.full{
    width:100%;
    height:100%;
}

.pick-heading{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pick-photos{
    border-radius: 100px;

}

.col-sm-3{
    border-radius: 10px;
}

.customise-heading{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;

}


